{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Add Student</h1>
        {{form_start(formStudent)}}
        {{form_row(formStudent.firstName,{'attr' : {'placeholder': 'FirstName'}})}}
        {{form_row(formStudent.lastName,{'attr' : {'placeholder': 'LastName'}})}}
        {{form_row(formStudent.numEtud,{'attr' : {'placeholder': 'NumEtude'}})}}
        {{form_row(formStudent.department,{'attr' : {'placeholder': 'Departement'}})}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            {% if editMode %}Save
            {% else %} Add student
            {% endif %}
        </button>
        {% if editMode %}<button class="btn btn-lg btn-primary btn-block" type="submit">Delete{% endif %}
        {{form_end(formStudent)}}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
