{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <h1 class="text-center">Students List </h1>
        </div>

        <div class="row">
            <div >
                {% for student in students %}
                    <div >

                        <ul class="list-group">
                            <li class="list-group-item">{{ student.firstname |  capitalize  }} {{ student.lastname | upper  }} avec numEtud : {{ student.numEtud }} dans {{student.department |upper }}
                                <a  href="/student/{{ student.id }}/edit">Modifier</a>  <a  href="/student/delete/{{ student.id }}">Delete</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

